h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    max-width: 980px;
    margin: auto;
}

body {
    max-width: 980px;
    margin: auto;
}

header nav .logo img {
    width: 200px;
    padding: 30px 200px 30px 5px;
}

header nav .menu-items a {
    display: flex;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: #1D1F2A;
    font-weight: bold;
    padding: 5px;
}

.menu-items a:hover { 
    color: #7648f8;
}
@media (min-width: 769px) {
    header nav {
        display: flex;
        justify-content: space-around;
    }

    header nav .total-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    header nav .menu-items {
        display: flex;
        
    }
    header nav .social-media-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.social-media-bar {
    padding: 10px;
}
.social-media-button {
    color: white;
    border: none;
    width: 28px;
    height: 28px;
    background-color: #7648f8;
    border-radius: 7px;
    margin: 5px;
}

.banner {
    background-image: url(../img/background-banner.png);
    background-size: cover;
    min-height: 800px;
}
.banner h1 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    padding: 25px;
    font-weight: bold;
    font-size: 45px;
}
<<<<<<< HEAD
.banner p {
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 25px;
=======

.banner p {
    color: white;
    font-family: 'Rubik', sans-serif;
>>>>>>> b66a8bf7f14da662b17adab70fbe86c5316444db
}

.banner .banner-buttons {
    display: flex;
<<<<<<< HEAD
    padding-left: 40px;
}

.banner .banner-button1 {
    border: none;
    border-radius: 3px;
    color: #4D5162;
    background-color: white;
    margin: 15px;
}

.banner .banner-button2 {
    border-color: orange;
    color: white;
    border-radius: 3px;
    background-color: transparent;
     margin: 15px;
=======
>>>>>>> b66a8bf7f14da662b17adab70fbe86c5316444db
}